<td>{{ parameter.id }}</td>
<td>
    <a href="javascript:;" data-trigger="filter"
       data-filter-field="{{ filterForm.parameter.vars.id }}" data-filter-value="{{ parameter.parameter }}">
        {{ parameter.parameter }}
    </a>
</td>
<td>
    <a href="javascript:;" class="x-editable-text" data-type="text" data-pk="1"
       data-url="{{ path('wucdbm_menu_builder_route_parameter_name_update', {id: parameter.id}) }}"
       data-placement="top" title="Set Parameter Name">
        {{ parameter.name }}
    </a>
</td>
<td>
    <a href="javascript:;" data-trigger="filter"
       data-filter-field="{{ filterForm.route.vars.id }}" data-filter-value="{{ parameter.route.id }}">
        {{ parameter.route.route }}
    </a>
    <br>
    <a href="javascript:;" class="x-editable-text" data-type="text" data-pk="1"
       data-url="{{ path('wucdbm_menu_builder_route_name_update', {id: parameter.route.id}) }}"
       data-placement="top" title="Set Route Name">
        {{ parameter.route.name }}
    </a>
</td>
<td>{{ parameter.type.name }}</td>