<td>
    {{ route.id }}
</td>
<td>
    {{ route.route }}
    <br>
    <a href="{{ path('wucdbm_menu_builder_route_parameter_list', {route: route.id}) }}">
        Parameters
    </a>
</td>
<td>
    {% if route.path %}
        {{ route.path }}
    {% else %}
        -
    {% endif %}
</td>
<td>
    <a href="javascript:;" class="x-editable-text" data-type="text" data-pk="1"
       data-url="{{ path('wucdbm_menu_builder_route_name_update', {id: route.id}) }}"
       data-placement="top" title="Set Route Name">
        {{ route.name }}
    </a>
</td>
<td>
    {% if route.parameters|length %}
        <ul>
            {% for param in route.parameters %}
                <li>
                    <code>{{ param.parameter }}</code>
                    {#{% if param.name %}#}
                        (<a href="javascript:;" class="x-editable-text" data-type="text" data-pk="1"
                            data-url="{{ path('wucdbm_menu_builder_route_parameter_name_update', {id: param.id}) }}"
                            data-placement="top" title="Set Parameter Name">
                            {{ param.name }}
                        </a>)
                    {#{% endif %}#}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</td>