{% extends '@WucdbmMenuBuilder/Menu/base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            {% form_theme form '@WucdbmMenuBuilder/_shared/form/form_theme.html.twig' %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {% if form.parameters|length %}
                {{ form_row(form.parameters) }}
            {% else %}
                <div class="hidden">
                    {{ form_row(form.parameters) }}
                </div>
            {% endif %}
            <div class="form-group">
                <button type="submit" class="btn btn-default">
                    Add Item
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% for field in form.parameters %}
        {% if field.value.vars.choices is defined %}
            $('#{{ field.value.vars.id }}').select2({
                tags: true
            });
        {% endif %}
    {% endfor %}

    {#{% import '@WucdbmMenuBuilder/_shared/collection_macro.html.twig' as macro %}#}

    {#{{ macro.collection(form.parameters) }}#}

{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <code>{{ menu.name }}</code>
    </li>
    <li>
        Add an Item
    </li>
    {% if item.parent %}
        <li>
            Child to <code>{{ item.parent.name }}</code>
        </li>
    {% endif %}
    <li>
        Route <code>{{ route.route }}</code>
    </li>
{% endblock %}